.logofooter{width: 58px;height: 57px;height: 57px;left: calc(50% - 58px/2 - 409px);bottom: 131px;border-radius: 29.5px;}
#producto{width: 265px;height: 268.86px;left: 95px;top: 720px;}
.cat{width: 14.09px;height: 9.91px;left: calc(50% - 14.09px/2 - 464.16px);top: 46.22px;}